/*MY_FATHER_ELEMENT_STARTS_HERE...*/
article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introductionDiv {
  padding: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--theme-color);
}

.introductionDiv > h1 {
  font-family: "Overpass", Arial, sans-serif;
  font-size: 10rem;
  margin-bottom: 2rem;
}

.introductionDiv > h3 {
  font-family: "Quick-sand", Arial, sans-serif;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.introductionDiv > .whiteText {
  font-family: "Urbanist";
  color: white;
  font-size: 2.5rem;
}

/*FUNCTIONALITIES_DIVS*/
.leftSideText, .rightSideText {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4rem 0;
  padding: 5rem;
}

.leftSideText {
  align-items: flex-start;
  background-color: var(--theme-color);
}

.rightSideText {
  align-items: flex-end;
  background-color: var(--background-color);
}

/*ICONS*/
.money-icon, .cart-icon{
  font-size: 20rem; 
}

.money-icon {
  color: var(--background-color);
}

.cart-icon{
  color: var(--theme-color);
}

/*FUNCTIONALITIES_NAMES*/
.leftSideText > h3, .rightSideText > h3 {
  font: 7rem "Overpass", Arial, sans-serif;
}

.leftSideText > h3 {
  color: var(--background-color);
}

.rightSideText > h3 {
  color: var(--theme-color);
}

/*FUNCTIONALITIES_DESCRIPTIONS*/
.leftSideText > p, .rightSideText > p {
  font: 2rem "Quick-sand", Arial, sans-serif;
  width: 50vw;
}

.leftSideText > p {
  text-align: start;
  color: var(--background-color);
}

.rightSideText > p {
  text-align: end;
  color: var(--theme-color);
}