.navbar,
.nav-links,
.nav-brand {
  display: flex;
}

.navbar {
  width: 100%;
  position: absolute;
  justify-content: space-between;
  background: var(--background-color);
}

.navbar .nav-brand {
  align-items: center;
  padding: 10px 20px;
}

.navbar .nav-brand .nav-title, 
.navbar .nav-brand img {
  margin: 5px;
}

.navbar .nav-brand .nav-title {
  color: var(--theme-color);
}

.navbar .nav-brand img {
  width: 96px;
}

.navbar .nav-links {
  align-items: flex-start;
}

.navbar .nav-links a {
  color: var(--theme-color);
  padding: 25px 30px;
  transition: all 0.2s;
}

.navbar .nav-links a:focus,
.navbar .nav-links a:hover,
.navbar .nav-links a.active {
  color: var(--background-color);
  background-color: var(--theme-color);
}