@font-face {
  font-family: 'Overpass';
  src: url('../../assets/fonts/Overpass-ExtraBold.ttf');
}
@font-face {
  font-family: 'Quick-sand';
  src: url('../../assets/fonts/Quicksand-Regular.ttf');
}
@font-face {
  font-family: 'Urbanist';
  src: url('../../assets/fonts/Urbanist-VariableFont_wght.ttf');
}

/*MY_FONTS_LIES_ABOVE...*/

/*MY_FATHER_ELEMENT_STARTS_HERE...*/

#footerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #31e91d;
  padding: 15px;
}

/*MY_FATHER_ELEMENT_ENDS_HERE.*/

/*MY_SOCIAL_MEDIAS_DIVS_AND_ELEMENTS__STARTS_HERE...*/

.socialMedias {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #222025;
}

.socialMedias a{
  font-size: 15px;
  font-family: 'Overpass', Arial, sans-serif;
  margin: 10px 0;
  color: #222025;
  text-decoration: none;
}

/*MY_SOCIAL_MEDIAS_DIVS_AND_ELEMENTS__ENDS_HERE.*/