footer,
.social-media {
  display: flex;
}

footer {
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color);
  padding: 10px;
}

.social-media,
.social-media a {
  color: var(--background-color);
}

.social-media {
  opacity: .8;
  flex-direction: column;
  text-align: center;
  margin: 0 15px;
  transition: opactiy linear .2s;
}

.social-media:hover {
  opacity: 1;
  cursor: pointer;
}

.social-media a {
  font-size: 14px;
  margin: 5px 0;
}
