.btn.btn-scroll {
  color: #FFFFFF;
  background: none;
  border: none;
  margin: 40px;
  transition: all 0.2s;
}

.btn.btn-scroll:hover {
  cursor: pointer;
  color: var(--theme-color);
  background-color: var(--background-color);
}
