.scrollUpDiv {
  background: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.scrollUpDiv > .btn-scroll {
  border: none;
  background: none;
  font-size: 5rem;
  padding: 0 2rem;
  color: #FFFFFF;
  transition: all 0.2s;
}

.scrollUpDiv > .btn-scroll:hover {
  cursor: pointer;
  color: var(--theme-color);
}