/*FLEXBOX*/
.login-section, .field-group, .field-group .field {
  display: flex;
}

.login-section {
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  height: 100vh;
  padding: 4rem;
}

.login-section, .field-group {
  flex-direction: column;
}

.field-group {
  width: 100%;
  padding: 2rem;
}

.field {
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

/*COLORS*/
.text-primary-color, 
.field > input, 
.login-section > h2, 
.field > .labels, 
.btn, 
.errorMessage {
  color: var(--theme-color);
}

/*ELEMENTS*/
.login-section > h2 {
  font-size: 4.8rem;
  margin: 0.2rem 0;
}

.field .labels {
  font-size: 3rem;
}

.field > input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  font-size: 2rem;
  height: 2rem;
  padding: 2rem 1rem;
  transition: all 0.2s ease;
  border-bottom: 0.2rem solid var(--theme-color);
}

.errorMessage {
  padding-top: 1.5rem;
  font: 1.8rem 'Overpass', Arial, sans-serif;
}

.btn {
  border: 0.2rem solid var(--theme-color);
  font-size: 1.5rem;
  margin: 1rem;
  padding: 2.5rem;
  transition: all 0.2s;
  background-color: var(--background-color);
}

/*EFFECTS*/
.field input:focus{
  font-size: 2.5rem;
  animation: fillBackground 0.8s ease-out forwards;
}

.field input:focus, input:focus::-webkit-input-placeholder {
  color: var(--background-color);
}

.btn:hover {
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--theme-color);
}